.textos {
    background-color: firebrick;
    width: 100vw;
    padding-top: 2%;
    padding-bottom: 2%;

    .textos__contenido { 
        
        top: 20%;
        position: relative;
        margin: 10%;
        border: 25%;
        border-radius: 10%;
        padding: 10%;
        border-inline-style: solid; 
        background-color: fuchsia;
        color: gold;
        justify-content: center;
        text-align: center;

    }
}