.clientes  {
    width: 100vw;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    

    .clientes__imagen {
        width: 60%;
        height: calc((55vw * 9) / 16);
        top: 10%;
        left: 25%;
        position: relative;
        display: inline-block;
        background-color:lawngreen;
    }

    .clientes__info {
        width: 30%;
        height: calc((30vw * 3) / 4);
        top: -5vh;
        right: 45vw;
        position: relative;
        display: inline-block;
        background-color:sandybrown;
    }
}